<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.andreabreu.harleyhunter</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/andreabreu/src/github.com/andreabreu76/harley-hunter/deploy/hunter-crawl.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>7200</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>AbandonProcessGroup</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/andreabreu/Library/Logs/harley-hunter.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/andreabreu/Library/Logs/harley-hunter.error.log</string>
</dict>
</plist>
